*	{
	line-height: 1;
	margin: 0px;
	outline: 0px;
	padding: 0px;
	position: static;
}

html	{
	height: 100%;
	width: 100%;
}

body	{
	background: rgba(0,0,0,1.0);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: rgba(255,255,255,1.0);
	height: 100%;
	width: 100%;

}

#clear {
clear: both;
}

/* intro panel */

#intro {
	background: url(../images/bk_intro.jpg) top center no-repeat;
	width: 1280px;
	height: 720px;
	font-size: 28px;
	position: absolute;
	display: inline-block;
	z-index: 0;
	-webkit-box-shadow: 6px 6px 8px #313232;
	box-shadow: 6px 6px 8px #313232;
}

#intro #logo{
	background: url(../images/logo_large.png) top left no-repeat;
	width: 336px;
	height: 56px;
	display: block;
	float: left;
	margin: 30px 0 0 64px;
}

#intro #remote {
	background: url(../images/img_pillowspeaker.png) no-repeat;
	width: 150px;
	height: 400px;
	/*margin: 120px 0px 0px -60px;*/
	display: inline-block;
	position: absolute;
	left: 1064px;
	top: 110px;

}
#intro #heading {
	width: 425px;
	height: 38px;
	display: inline-block;
	position: absolute;
	left: 780px;
	top: 43px;
	text-align: right;
	color: #363534;
	text-shadow: 0px 0px;
}

#intro #regtextheading {
	width: 1100px;
	height: 50px;
	display: inline-block;
	position: absolute;
	left: 100px;
	top: 186px;
	text-shadow: 2px 2px 10px #030303;
}

#intro #regtext {
	width: 500px;
	height: 400px;
	display: inline-block;
	position: absolute;
	left: 100px;
	top: 250px;
	text-shadow: 2px 2px 8px #030303;

}
#intro #regtext p {
	min-height: 22px;
	line-height: 24px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	position: relative;
	font-weight: 600;
	font-size: 20px;
	
}

#intro #regtext2 {
	width: 560px;
	height: 400px;
	display: inline-block;
	position: absolute;
	left: 670px;
	top: 250px;
	text-shadow: 2px 2px 8px #030303;	
}

#intro #regtext2 p {
	min-height: 22px;
	line-height: 24px;
	margin: 0px 10px 0px 10px;
	text-align: left;
	position: relative;
	font-weight: 600;
	font-size: 20px;
	
}
#intro #regtext p.text1 {
	color: rgba(252,254,254,1.00);
	text-align: left;
	letter-spacing: .5px;
}

#intro #regtext p.text2  {
	color: rgba(246,242,115,1.00);
	text-align: left;
	letter-spacing: .5px;
}
	
#intro #instruction {
	width: 220px;
	height: 240px;
	display: inline-block;
	position: absolute;
	left: 75px;
	top: 189px;
	text-align: right;
}

#intro #instruction p {
	min-height: 30px;
	line-height: 30px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	position: absolute;
	font-weight: 700;
	left: -1px;
	top: 60px;
}


#intro #instruction p.text1 {
	color: rgba(252,254,254,1.00);
	text-align: left;
	text-shadow: 2px 2px 2px #424242;
}

#intro #instruction p.text2  {
	color: rgba(246,242,115,1.00);
	text-align: left;
}

#intro #instruction p.text2-sm  {
	color: rgba(246,242,115,1.00);
	text-align: left;
	font-size: 22px;
}
#intro #instruction  p.text3  {
	color: rgba(189,239,254,1.00)
	text-align: left;
}
#intro #instruction p.text4 {
	color: rgba(252,254,254,1.00);
	text-align: left;
	font-size: 40px;
}

#intro #aboutus {
	background-repeat: no-repeat;
	background-position: top center no-repeat;
	width: 650px;
	height: 370px;
	margin: 0px 0px 0px 0px;
	position: absolute;
	left: 324px;
	top: 115px;
	background-color: rgba(101,183,36,1.00);
}

#intro #aboutus #image {
	background: url(../images/video_sim-welcomevideo_sm.jpg) top center no-repeat;
	width: 640px;
	height: 360px;
	margin: 4px 4px 4px 4px;
	position: absolute;
	top: 2px;
	left: 2px;
}


#intro #buttons {
	width: 640px;
	height: 216px;
	font-size: 28px;
	margin: 400px 0px 0px 54px;
	display: inline-block;
	position: absolute;
	left: 278px;
	top: 96px;
}

#intro #buttons a {
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	text-shadow: 2px 2px 2px rgba(51,51,51,0.50);
	color: rgba(252,252,252,1.00);
	/*background-color: #5FAAD8;*/
	background-color: #808B92;
	width: 640px;
	height: 50px;
	border-radius: 6px;
	float: left;
	box-shadow: 6px 4px 6px rgba(51,51,51,0.50);
	-webkit-box-shadow: 6px 4px 6px rgba(51,51,51,0.50);
}

#intro #buttons a.active {
	background-color: #1D6C2C;
}

#intro #buttons a.mycare {
	margin: 0px 0px 0px 0px;
	position: relative;
}

#intro #buttons a.watchtv {
	margin-top: 20px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	position: relative;
}
#intro #buttons a.watchvideo {
	margin-top: 20px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	position: relative;
}
