.page.primary {
}

.page.primary #header {
	width: 100%;
	height: 216px;
	position: absolute;
	/*background: url(../images/bk_primary_gradient.png) top left no-repeat;*/
}

.page.primary #header #patient {
	width: 453px;
	height: 58px;
	top: 34px;
	left: 746px;
	position: absolute;
	display: inline-block;
	float: left;
}

.page.primary #header #patient p {
	line-height: 30px;
	text-align: right;
	color: #363534;
	font-weight: bold;
	font-size: 26px;
	text-shadow: 0px 0px;
}


.page.primary #header #date {
	width: 377px;
	height: 28px;
	top: 98px;
	left: 824px;
	position: absolute;
	display: inline-block;
	float: left;
}

.page.primary #header #date p {
	line-height: 28px;
	text-align: right;
	color: #363534;
	font-size: 22px;
	text-shadow: 0px 0px;
}

.page.primary #header #slideshow{
	position: absolute;
	background: url(../KPNW_JaoTech_slideshow-only.swf) no-repeat;
	width: 330px;
	height: 186px;
	display: block;
	float: left;
	left: 880px;
	top: 30px;
}

.page.primary #content {
	width: 100%;
	height: 720px;
	top: 0px;
	position: absolute;
}

.page.primary #menu {
	width: 100%;
	height: 100%;
}

.page.primary #menu .slides {
	position: absolute;
	top: 228px;
	left: 66px;
	width: 1148px;
	height: 491px;
}

.page.primary #menu .slides .slide {
	width: 1148px;
	height: 600px;
	/*display: none;*/
	/*webkit-animation: fadein 1s; 
    animation: fadein 1s;*/
}
/*@-webkit-keyframes fadein {
    from { opacity: .5; }
    to   { opacity: 1; }
}*/


.page.primary #menu .slides #menu1-slide {
	background: url('../images/img_main_entertainment.jpg') top left no-repeat;

}

.page.primary #menu .slides #menu2-slide {
	background: url('../images/img_main_dine.jpg') top left no-repeat;
}

.page.primary #menu .slides #menu3-slide {
	background: url('../images/img_main_visit.jpg') top left no-repeat;
}

.page.primary #menu .slides #menu4-slide {
	background: url('../images/img_main_myhealth.jpg') top left no-repeat;
}

.page.primary #menu .slides #menu5-slide {
	background: url('../images/img_main_spirit.jpg') top left no-repeat;
}


.page.primary #menu .major {
	/*background: url('../images/menubar_slice.png') repeat-x;*/
	position: absolute;
	width: 100%;
	height: 69px;
	padding: 0;
	left: 7px;
	top: 164px;
}

.page.primary #menu .major a {
	position: absolute;
	height: 70px;
	margin: 0;
	padding-top: 30px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0px;
	text-align: center;
	font-size: 28px;
	color: rgba(255,255,255,1.00);
	top: -11px;
	font-weight: bold;
	letter-spacing: 1px;
}

.page.primary #menu .major a.selected {
	font-size: 34px;
	/*background-repeat: no-repeat;
	background-position: center top no-repeat;*/
	background-color: #217C32;
	/*background-image: url('../images/menubar_highlight.png');*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 78px;
	margin-top: -5px;
	padding-top: 30px;
	color: rgba(244,244,245,1.00);
	border-top-right-radius: 100px 12px;
	border-top-left-radius: 100px 12px;
	box-shadow: 3px 0px 6px 0px rgba(3,3,3, .3);
	text-shadow: 2px 2px 6px rgba(3,3,3, .8);
}

.page.primary #menu .major a#menu1 {
	left: 60px;
	width: 260px;	
}

.page.primary #menu .major a#menu2 {
	left: 312px;
	width: 212px;
}

.page.primary #menu .major a#menu3 {
	left: 482px;
	width: 252px;
}

.page.primary #menu .major a#menu4 {
	left: 700px;
	width: 252px;
}

.page.primary #menu .major a#menu5 {
	left: 936px;
	width: 275px;
}

.page.primary #menu .minor {
	position: absolute;
	width: 100%;
	height: 493px;
	top: 226px;

}

.page.primary #menu .minor .menu-group {
	position: absolute;
	border: 6px solid #217C32;
	background-color: rgba(22,25,27,0.80);
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	display: none;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.page.primary #menu .minor #menu1-group {
	left: 66px;
	width: 332px; /*added 12 for box shadow*/
}

.page.primary #menu .minor #menu2-group {
	left: 281px;
	width: 284px;
}

.page.primary #menu .minor #menu3-group {
	left: 468px;
	width: 332px;
}

.page.primary #menu .minor #menu4-group {
	left: 630px;
	width: 402px;
}

.page.primary #menu .minor #menu5-group {
	left: 861px;
	width: 357px;
}

.page.primary #menu .minor .menu-group a {
	display: block;
	padding: 5px 15px;
	line-height: 28pt;
	font-weight: 600;
	font-size: 28px;
	letter-spacing: .5px;
}
