.page.secondary {
}
.page.secondary .background {
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: url(../images/bk_default2.jpg) top left no-repeat;
	z-index: 1;
}


.page.secondary .page-title {
	left: 66px;
	top: 20px;
	width: 346px;
	height: 66px;
	z-index: 1;
	text-align: center;
	letter-spacing: 1px;
	color: #FCFCFC;
	line-height: 72px;
	/*background: url('../images/menubar_highlight.png') no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
	background-size: cover;
	background-color: #217C32;
	border-top-right-radius: 120px 20px;
	border-top-left-radius: 120px 20px;
	font-weight: bold;
	box-shadow: 3px 0px 6px 0px rgba(3,3,3, .3);
	text-shadow: 2px 2px 6px rgba(3,3,3, .8);
}

.page.secondary #header {
	width: 100%;
	height: 121px;
	position: absolute;
	background: url(../images/bk_secondary_gradient.png) top left no-repeat;
}

.page.secondary #header #heading1 {
	height: 100px;
	top: 75px;
	left: 436px;
	position: absolute;
	display: inline-block;
	float: left;
}

.page.secondary #header #heading1 p {
	color: #45466D;
}

.page.secondary #header #cboard1 {
	height: 110px;
	width: 440px;
	top: 50px;
	left: 460px;
	z-index: 0;
	text-align: left;
	position: absolute;
	display: inline-block;
	float: left;
	background-size: cover;
	background-color: #85B7D9;
	border-top-left-radius: 26px 26px;
	border-top-right-radius: 26px 26px;
	border-color: #008000;
	box-shadow: 1px 4px 8px 0px #353535;
}

.page.secondary #header #cboard1 p {
	color: #F8FBF9;
	padding-top: 12px;
	padding-left: 40px;
	font-size: 22px;
	line-height: 26px;
}

.page.secondary #header #cboard2 {
	height: 110px;
	width: 410px;
	top: 50px;
	left: 860px;
	z-index: 0;
	text-align: left;
	position: absolute;
	display: inline-block;
	float: left;
	background-size: cover;
	background-color: #5EA083;
	border-top-left-radius: 26px 26px;
	border-top-right-radius: 26px 26px;
	border-color: #008000;
	box-shadow: 1px 4px 8px 0px #353535;
}

.page.secondary #header #cboard2 p {
	color: #F8FBF9;
	padding-top: 12px;
	padding-left: 40px;
	font-size: 22px;
	line-height: 26px;
}

.page.secondary #header #heading2 {
	width: 803px;
	height: 56px;
	top: 53px;
	left: 454px;
	position: absolute;
	float: left;
	z-index: 1;
}	

.page.secondary #header #heading2 p {
	color: #323334;
	text-align: left;
	font-size: 28px;
	padding-top: 0px;
	font-weight: 600;
	text-shadow: 0 0 0;
}

div.datetime {
    width: 420px;
    height: 30px;
    top: 52px;
    left: 824px;
    position: absolute;
    display: inline-block;
    float: left;
    text-align: right;
}

div.datetime text, p.datetime text {
    line-height: 28px;
    color: #04090E;
    font-weight: 400;
}

div.menufooter {
	width: 260px;
	height: 40px;
	top: 665px;
	left: 140px;
	position: absolute;
	float: left;
	z-index: 2;
}
div.menufooter p {
	/*color: #E3CB90;*/	
	color: #283F4B;
	text-shadow: 0 0;
}
div.menufooter-img {
	width: 50px;
	height: 34px;
	background: url(../images/btn_menu.png) top left no-repeat;
	top: 660px;
	left: 80px;
	position: absolute;
	display: inline-block;
	float: left;
	z-index: 2;
}

.page.secondary #content {
	width: 100%;
	height: 720px;
	top: 0px;
	position: absolute;
	left: 0px;
	background: url(../images/bk_cc_dine_intro.jpg) top left no-repeat;
}

.page.secondary #menu {
	width: 100%;
	height: 100%;
}

.page.secondary #menu .major {
	position: absolute;
	width: 344px;
	height: 580px;
	left: 66px;
	top: 85px;
	padding: 20px 0 0 0;
	box-shadow: 2px 2px 6px 0px #0C1E32;
	background-color: rgba(53,71,78,.80);
	/*border-bottom-right-radius: 20px 20px;
	border-bottom-left-radius: 20px 20px;*/
	-webkit-box-shadow: 2px 2px 6px 0px #0C1E32;
}

.page.secondary #menu .major a {
	position: relative;
	display: block;
	height: 30px;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 15px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: .5px;
	color: #D2E5F4;
	/*border-radius: 8px;
	background-color: rgba(86,162,214,.90);*/
}
.page.secondary #menu .major a.back-button {
	/*  position: absolute;
	width: 292px;*/
	font-size: 26px;
	top: 0px;
	text-align: left;
	margin-bottom: 10px;
	color: #E3CB90;	
	/*background-color: rgba(48,138,200,0.70);
	border-radius: 8px;*/
	
}
.page.secondary #menu .major a.selected {
	background: #217c32;
	color: #FCFCFC;
	-webkit-box-shadow: 3px 3px 5px #020202;
	box-shadow: 3px 3px 5px #020202;	/*border-radius: 8px;*/
}

.page.secondary #menu .minor {
	position: absolute;
	width: 800px;
	height: 390px;
	top: 40px;
	left: 430px;
}

.page.secondary #menu .minor .arrow-button {
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	top: 442px;
	border-radius: 30px;
	margin: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.1);
}

.page.secondary #menu .minor .arrow-button.sub-page-prev {	
	left: -10px;
}

.page.secondary #menu .minor .arrow-button.sub-page-next {
	right: 20px;
}

.page.secondary #menu .minor .arrow-button:hover {
	opacity: 1;
	cursor: pointer;
}

.page.secondary #menu .minor .arrow-left {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.page.secondary #menu .minor .arrow-right {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -5px;
}


.page.secondary #menu .minor .back-tab {
	position: absolute;
	display: none;
}

.page.secondary #menu .minor .back-tab img {
	width: 100%;
	height: 100%;
	margin: 40px 0px 0px 25px;
}

.page.secondary #menu .minor .menu-tab {
	position: absolute;
	display: none;
	/*width: 800px;*/
}

.page.secondary #menu .minor .sub-page {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
}

.page.secondary #menu .minor .sub-header {
	margin-top: -0px;
	height: 30px;
	color: rgba(189,239,254,1.00);
	padding-left: 12px;	
}

.page.secondary #menu .minor .sub-footer {
	position: absolute;
	height: 50px;
	color: #F6C38B;
	text-align: center;
	top: 460px;
	left: 120px;
	text-shadow: 2px 2px 6px #000000;
	letter-spacing: .5px;
}

.page.secondary #menu .minor .sub-content {
	margin-top: -52px;
	height: 700px;
	width: 790px;
	overflow: hidden;
	position: relative;
	padding-left: 10px;
}

.page.secondary #menu .minor .sub-content p {
	margin-bottom: 15px;
	line-height: 28pt;
	padding-right: 25px;
}

.page.secondary #menu .minor .sub-content .sub-image1 img
,.page.secondary #menu .minor .sub-content .sub-image2 img {
	width: 100%;
	height: 100%;
}

/* Layout 1, text only */
.page.secondary #menu .minor .sub-content.layout1 {
	
}

.page.secondary #menu .minor .sub-content.layout1 .sub-text1{
	display: inline-block;
	width: 100%;
	padding-top: 18px;
	padding-left: 15px;
}

.page.secondary #menu .minor .sub-content.layout1 .sub-text2{
	display: inline-block;
	width: 100%;
	padding-top: 10px;
}

.page.secondary #menu .minor .sub-content.layout1 .sub-image1{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout1 .sub-image2{
	display: none;
}

/* Layout 2, text and image side by side */
.page.secondary #menu .minor .sub-content.layout2 {
	
}

.page.secondary #menu .minor .sub-content.layout2 .sub-text1{
	display: inline-block;
	float: left;
	width: 340px;
	padding-top: 20px;
	padding-right: 10px;
	z-index: 2;
}

.page.secondary #menu .minor .sub-content.layout2 .sub-text2{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout2 .sub-image1{
	display: inline-block;
	float: right;
	width: 419px;
	height: 448px;
	padding-top: 5px;
	padding-left: 0px;
	z-index: 1;
	right: 1px;
}

.page.secondary #menu .minor .sub-content.layout2 .sub-image2{
	display: none;
}

/* Layout 2b, 2 text blocks side by side */
.page.secondary #menu .minor .sub-content.layout2b {
	
}
.page.secondary #menu .minor .sub-content.layout2b .sub-text1{
	/*display: inline-block;*/
	float: left;*
	width: 790px;
	padding-top: 10px;
	padding-left: 15px;
	z-index: 2;
}

.page.secondary #menu .minor .sub-content.layout2b .sub-text2{
	display: inline-block;
	float: left;
	position: absolute;
	left: 400px;
	width: 360px;
	padding-top: 10px;
	padding-left: 15px;
	z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout2b .sub-image1{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout2b .sub-image2{
	display: none;
}

/* Layout 3, text and image aligns vertically */
.page.secondary #menu .minor .sub-content.layout3 {
	
}

.page.secondary #menu .minor .sub-content.layout3 .sub-text1{
	float: none;
	height: 210px;
	width: 720px;
	padding-top: 20px;
}

.page.secondary #menu .minor .sub-content.layout3 .sub-text2{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout3 .sub-image1{
	float: none;
	height: 220px;
}

.page.secondary #menu .minor .sub-content.layout3 .sub-image2{
	display: none;
}


/* Layout 4, text 1 on top, text 2 and image at bottom */
.page.secondary #menu .minor .sub-content.layout4 {
	
}

.page.secondary #menu .minor .sub-content.layout4 .sub-text1{
	display: block;
	float: none;
	height: 220px;
	padding-top: 20px;
}

.page.secondary #menu .minor .sub-content.layout4 .sub-text2{
	float: left;
	width: 500px;
	height: 200px;
}

.page.secondary #menu .minor .sub-content.layout4 .sub-image1{
	float: left;
	width: 240px;
	height: 200px;
}

.page.secondary #menu .minor .sub-content.layout4 .sub-image2{
	display: none;
}

/* Layout 5, text overlays image - SURVEYS */
.page.secondary #menu .minor .sub-content.layout5 {
	margin-top: 0px;
	margin-left: -22px;
	height: 516px;
	width: 850px;
	overflow: hidden;
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
}

.page.secondary #menu .minor .sub-content.layout5 .sub-text1{
	/*display: none;*/
	display: inline-block;
	position: absolute;
	height: 225px;
	width: 780px;
	padding-top: 18px;
	padding-left: 45px;
	z-index: 1;
	
}

.page.secondary #menu .minor .sub-content.layout5 .sub-text2{
	display: block;
	position: absolute;
	height: 40px;
	width: 300px;
	top: 490px;
	left: 586px;
	padding: 0px;
	z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout5 .sub-image1{
	width: 100%;
	height: 420px;
	position: absolute;
	left: 0px;
	/*width: 100%;
	height: 100%;*/
	opacity: 1.00;
}

.page.secondary #menu .minor .sub-content.layout5 .sub-image2{
	display: none;
}

/* Layout 5b, text overlays image - ROOM SERVICE ORDERING */

.page.secondary #menu .minor .sub-content.layout5b {
	margin-top: 20px;
	margin-left: -22px;
	height: 516px;
	width: 850px;
	overflow: hidden;
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
}

.page.secondary #menu .minor .sub-content.layout5b .sub-text1{
	/*display: none;*/
	display: inline-block;
	position: absolute;
	height: 225px;
	width: 780px;
	padding-top: 18px;
	padding-left: 45px;
	z-index: 1;
	
}

.page.secondary #menu .minor .sub-content.layout5b .sub-text2{
	display: block;
	position: absolute;
	height: 40px;
	width: 300px;
	top: 490px;
	left: 586px;
	padding: 0px;
	z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout5b .sub-image1{
	width: 100%;
	height: 420px;
	position: absolute;
	left: 0px;
	/*width: 100%;
	height: 100%;*/
	opacity: 1.00;
}

.page.secondary #menu .minor .sub-content.layout5b .sub-image2{
	display: none;
}

/* Layout 5c, text overlays image - Careboard */
.page.secondary #menu .minor .sub-content.layout5c {
	
}

.page.secondary #menu .minor .sub-content.layout5c .sub-text1{
	/*display: none;*/
	display: block;
	position: absolute;
	height: 225px;
	width: 560px;
	top: 20px;
	left: 50px;
	padding: 15px;
	z-index: 1;
	color: #030303;
	line-height: 1.2;
}

.page.secondary #menu .minor .sub-content.layout5c .sub-text2{
	display: block;
	position: absolute;
	height: 40px;
	width: 300px;
	top: 24px;
	left: 62px;
	padding: 0px;
	z-index: 1;
	color: #FDFDFD;
}

.page.secondary #menu .minor .sub-content.layout5c .sub-image1{
	width: 100%;
	height: 100%;
	opacity: 1.00;
}

.page.secondary #menu .minor .sub-content.layout5c .sub-image2{
	display: none;
}


/* Layout 6, ONLY an image (map) */
.page.secondary #menu .minor .sub-content.layout6 {
	
}

.page.secondary #menu .minor .sub-content.layout6 .sub-text1{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout6 .sub-text2{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout6 .sub-image1{
	width: 100%;
	height: 100%;
}

.page.secondary #menu .minor .sub-content.layout6 .sub-image2{
	display: none;
}
